.DS_Store
/Amstrad_PPC_Internal_Expansion/Kicad/Amstrad_PPC_Internal_CF_Lite-backups
Amstrad_PPC_Internal_Expansion/Kicad/fp-info-cache
/Amstrad_ACL386_Floppy/Amstrad_ACL386_Floppy-backups
Amstrad_ACL386_Floppy/Amstrad_ACL386_Floppy.kicad_prl
Amstrad_ACL386_Floppy/fp-info-cache
*.bak
*.kicad_prl
Amstrad_PPC_Internal_Expansion/Kicad/\#auto_saved_files\#
*.lck
